Software Engineer Job Requirement Specification

Degree area: Software Engineering
Degree level: Bachelor, Master
Years of experience: >2
Location: Porto, Portugal
Proficiency in languages: Java, C
Salary Range: 1250-1750